@font-face {
  font-family: "iconfont-home";
  src: url('iconfont.ttf?t=1778414956727') format('truetype');
}

.iconfont {
  font-family: "iconfont-home" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cc-magic:before {
  content: "\e66c";
}

.icon-pen:before {
  content: "\e921";
}

.icon-edit:before {
  content: "\e603";
}

.icon-message:before {
  content: "\e78a";
}

.icon-team:before {
  content: "\e7ae";
}

.icon-branches:before {
  content: "\e7e7";
}

.icon-code:before {
  content: "\e7fc";
}

.icon-graduation-hat:before {
  content: "\e767";
}

.icon-refresh:before {
  content: "\e71e";
}

.icon-clock:before {
  content: "\e7ed";
}

.icon-robot:before {
  content: "\e82e";
}

.icon-lightbulb:before {
  content: "\e84f";
}

.icon-film:before {
  content: "\e66a";
}

.icon-sparkles:before {
  content: "\e6b8";
}

.icon-git:before {
  content: "\eb9f";
}

.icon-layers:before {
  content: "\e675";
}

.icon-user:before {
  content: "\e74f";
}

.icon-charts-line:before {
  content: "\e826";
}

.icon-info:before {
  content: "\e83d";
}

.icon-megaphone:before {
  content: "\e697";
}

.icon-git-merge:before {
  content: "\e9fe";
}

.icon-Devices:before {
  content: "\e70e";
}

